<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=121.199.4.218;uid=wisdomelectricity_gswl;pwd=kd%lZprid%2OiQXt;database=WisdomElectricity_gswl;"/>
  </connectionStrings>
</configuration>
