
    <div class="container-narrow">
        <div class="masthead">
            <div class="btn-group pull-right">
            </div>
        </div>
        <div class="container-thumbnails">
            <ul class="thumbnails" id="item-list"> <li class="span3 text-center"><a class="thumbnail" href="/admin/index.aspx" title="后台系统"><p class="my-item ">进入后台&nbsp;<i class="icon-next"></i></p></a></li></ul>
        </div>
    </div>
