<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=121.199.4.218;uid=wisdomelectricity;pwd=wisdom@.jysj;database=WisdomElectricity;"/>
  </connectionStrings>
</configuration>